In [1]:
import numpy as np
import pandas as pd

In [2]:
import sklearn
from sklearn.model_selection import train_test_split

## Some things to note:

Sklearn refers to machine learning models, algorithms as estimtors
Classification problem-predicting a category (heart disease or not)
Sometimes you will see clf (short for classifier) used as a classification estimator
Regression problem - predicting a number (selling price of a car)
If you are working on a machine learning problem and looking to use sklearn and not sure of the model to use, refer to sklearn machine learning map:https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

### 2.1 Picking a machine learning model to use

* Regression if you are working with numbers or predicting number
* classification if you are predicting a categorical model

Lets use the california Housing dataset https://scikit-learn.org/stable/modules/generated/sklearn.datasets.fetch_california_housing.html#sklearn.datasets.fetch_california_housing

## 2.3 Choosing an estimator for a classification problem

Let's go to the map https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [3]:
heart_disease = pd.read_csv('heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
len(heart_disease)

303

In [5]:
X =heart_disease.drop('target',axis= 1)
y = heart_disease['target']

In [9]:
#consulting the map it says to try linear svc
from sklearn.svm import LinearSVC

np.random.seed(42)
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size = 0.2)
clf= LinearSVC()
train_x =clf.fit(X_train,y_train)
clf.score(X_test,y_test)

C:\Users\franc\anaconda3\lib\site-packages\sklearn\svm\_base.py:1206: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn(

0.8688524590163934

In [10]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.8524590163934426

Tidbit:
    1. If you have structured data work with the ensemble methods
    2. if you have unstructured data, use deep learning or transfer learnign

## 3. Fit the model/algorith on our data and use it to make predictions

### 3.1 Fitting the model to the data

* X = features, features variables, data
* y= labels, targets, target variable

In [ ]:
from sklearn.svm import LinearSVC
# set up random seed
np.random.seed(42)

#split the data
X_train,X_test,y_train,y_test= train_test_split(X,y,test_size = 0.2)

#instantiate the classifier 
clf= LinearSVC()

#fit the model
train_x =clf.fit(X_train,y_train)

#Evaluate the Linear svc model
clf.score(X_test,y_test)